{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<button type="button" class="btn btn-success">
		<a style="color: white" class="nav-item nav-link" href="{{ path('uploadResumeFile')}}">Upload A Resume PDF File</a>
	</button>

	<button type="button" class="btn btn-success">
		<a style="color: white" class="nav-item nav-link" href="{{ path('newResume')}}">Gnereate A New Resume PDF File From Scratch</a>
	</button>

{% endblock %}
